<!DOCTYPE html>
<html>
  <head>    
    <link rel='stylesheet' href='/stylesheets/style.css' />     
</head>
  
  <body>    
    <h3>Create Movie</h3>
    <br/> 
    <form action="/movies/createMovie" method="post">
      Name: <input type="text" name="name" /> <br />
      Language: <input type="text" name="lang" /> <br />
      Genres: <input type="text" name="genre" placeholder="Comedy, Family, ..." ><br /> 

    <br/><br/>
    <input type="submit" value="Create" />
    </form>

    <body>

  </body>
</html>
