<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/menuPage.css' />
  </head>
  <body>
    <p>Welcome to <%= title %></p>

    <p><a href="/movies/searchMovie">Search for movies</a></p>  <!-- Search Movies Page -->
    
    <p><a href="/movies/createMovie">Create new movie</a></p> <!-- Create Movie Page -->


    <!-- presented - ONLY for admin -->
    <% if( req.session.username == 'admin'){ %>
    <p><a href="/users/usermanagment">Edit Users</a></p> <!-- Users Management Page  -->
    <% } %>  




  </body>
</html>
