<!DOCTYPE html>
<html>
  <head>    
    <link rel='stylesheet' href='/stylesheets/style.css' />     
</head>
  
  <body>    
    <h3>Search Movie</h3>
    <br/> 
    <form action="/movies/searchMovie" method="post">

      Name: <input type="text" name="name" /> <br />
     
      <!-- Genres will be drop down with all genres  -->
      <!-- Genres: <input type="text" name="genre" placeholder="Comedy, Family, ..." ><br />  -->
      Genres:
      <select name="genre" id="genre">
        <option value="Comedy">Comedy</option>
        <option value="Action">Action</option>
        <option value="Romance">Romance</option>
        <option value="Science-Fiction">Science-Fiction</option>
        <option value="Adventure">Adventure</option>
        <option value="Family">Family</option>
        <option value="Horror">Horror</option>
        <option value="Thriller">Thriller</option>
        <option value="Drama">Drama</option>
      </select>

      <br/>

      <!-- Language will be drop down with all genres  -->
      <!-- Language: <input type="text" name="lang" /> <br /> -->
      Language:
      <select name="language" id="language">
        <option value="English">English</option>
        <option value="Spanish">Spanish</option>
        <option value="Inide">Inide</option>
        <option value="Greek">Greek</option>
      </select>


     
    <br/><br/>
    <input type="submit" value="Search" />
    </form>
    
    <input type="button" value="Back" onclick="history.back(-1)" /> 
    <body>

  </body>
</html>
